
.flex-container{
	display: flex;
	flex-wrap: wrap;
}
.flex-container-p{
	display: flex;
	flex-wrap: wrap;
	padding: 0px 20px 0px 20px;
}
.container-course-form{
	margin: 50px; 
}
.container-course-form > .row{
	padding: 0px 20px 0px 20px;
}
.row > .width50{
	width: 50%;
}
.width-50{
	width: 50%;
	
}

.flex-5{
	flex: 5%;
}

.flex-10{
	flex: 10%;
}

.flex-15{
	flex: 15%;
}

.flex-60{
	flex: 60%;
}

.flex-70{
	flex: 70%;
}

.flex-75{
	flex: 75%;
}

.flex-80{
    flex: 80%;
}

.flex-80-1{
	flex: 0.1%;
}

.flex-80-49l, .flex-80-49r{
    flex: 49%;
	position: relative;
}
.flex-80-32l, .flex-80-32r, .flex-80-32c{
    flex: 32%;
	position: relative;
}
.flex-85{
    flex: 85%;
}
.flex-95{
    flex: 95%;
}
.flex-100{
	flex: 100%;
}
.fecha{
	top: 50%;
	transform: translateY(15%);
}
.img-user-style{
	width: 150px;
	height: 150px;
	text-align: center;
}
.email-text, .username-text{
	font-size: 24px;
	align-content: center;
}
@media(max-width:1190px){
	.flex-80-32l{
		flex: 99.9%;
	}
	.flex-80-32c, .flex-80-32r{
		margin-top: 10px;
		flex:49%;
	}

}
@media(max-width:785px){
	.flex-80-32l{
		flex: 99.9%;
	}
	.flex-80-32c, .flex-80-32r{
		margin-top: 10px;
		flex:99.9%;
	}
	.flex-80-49r{
		margin-top: 10px;
		flex: 99.9%;	
	}
	.flex-80-49l{
		flex: 99.9%;	
	}

}
@media(max-width:1070px){
	.row > .width50{
		width: 100%;
	}
}
@media(max-width:590px){
	.width-50{
		width: 100%;
	}
	.container-course-form{
		margin: 25px;
	}
	.container-course-form > .row{
		padding: 0px 5px 0px 5px;
	}
}
@media(max-width:767px){
	.img-user-style{
		padding: 10px;
		width: 80px;
		height: 80px;
	}
	.email-text{
		font-size: 0;
	
	}
	.username-text{
		font-size: 15px;
	}
}